main-content{
    padding: 20px 20px 20px 20px 
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
    width: 20;
}

.header{
    padding: 10px 10px 10px 10px
    background-color: orange;
    border-style: solid;
    border-color: black;
}
.header a {
    color: darkorange;
    border-style:groove;
}
.header img {
display: block;
margin: 0 auto 0 auto;

}
 .button {background-color: #4CAF50;} /* Green */
.nav{
    padding-left: 0;
    color:#0000af;
    text-decoration:none;
    text-align:center;
}


Body {
    padding: 20;
    margin: 20;
    border: 20;
    background-image: url(images/home.png) top left repeat;
    background-position: top left;
    background-repeat: repeat-x;

}
h1 {
    margin: 10px 0 15px 0;
    text-decoration: italic; bold;
    color: red;
    text-align: center;
}
P {
    color:black;
    padding-top: 6px;
    padding-right: 3px;
    padding-bottom: 0;
    padding-left: 0;
    border-width: 6px;
    border-style: solid;
    border-color: black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: unset; 
    font-size: 16px;
    text-align: center;
    color: black;

}

h2{
    margin: 10px 0 20px 0;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;

}



Li{
    font-size:20px;
    color: brown;
}
ol li:first-child {
    font-style:  italic; bold;
    color: red;
    padding: 0 0 0 50px;
}

ul li{
    display: inline;
    padding: 0 0 0 50px;
    
}


.love{
    border: 1px solid #0000af;
    padding-left: 15px;
}
.Photos{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    padding-left: 34px;
}

.featured image{
    width: 630px;
    height: 246px;
    background: url(images/home.png) !
top left no-repeat;!
}



